.note_container{
    background-color: #ffffff;
    box-shadow: 2px 2px 8px rgb(189, 189, 189);
    max-width: 500px;
    min-height: 100px;
    padding: 20px;
    transition: all 0.2s ease-out;
    overflow-wrap: break-word;
    border-radius: 2px;
}

.note_container >h1, .note_container>p{
    color: rgb(61, 61, 61);
}

.note_container:hover{
    box-shadow: -4px 5px 8px rgb(189, 189, 189);
    cursor: default;

}

.empty {
  font-size: 1.8rem;
  color: rgb(107, 107, 107);
}